 .block {
    display: grid;
    grid-template-columns: repeat(4, 10px);
    position:absolute;
    top:  4px;
    left: 4px;
    
    /* Variables */
    --size:15px;
    gap: 7px;
    /* background-color: red; */
    /* width:max-content;
    height: max-content; */
    /* gap: calc(var(--size) / 3); */
}

.block div {
    width: var(--size);
    height: var(--size);
    background-color: #fff;
    border-radius: 2px;
    border: 2px outset rgba(0,0,0,.281);
}

.i-block {
    grid-template-columns: repeat(4, 10px);
}
.i-block div{
  background: #6B967F;
}

/* O Block */
.o-block {
    grid-template-columns: repeat(2, 10px);
    grid-template-rows: repeat(2, 10px);
}
.o-block div {
    background-color: #f1c40f;
}

/* Z Block */
.z-block {
    grid-template-columns: repeat(3, 10px);
    grid-template-rows: repeat(2, 10px);
}
.z-block div {
    background-color: #e74c3c;
}