/* All Buttons Main case */
.controls-case{
    align-self: flex-end;
    display:grid;
    grid-template-columns:1fr 1fr; 
    width: 100%;
    padding: 10px;
}

/* Generic Button */
.gen-btn{
    text-align: center;
    color: white;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.gen-btn  > p{
    margin-top: 3px;
}
.gen-btn  > .outer{
    height: 55px;
    width:  55px;
    background-color: yellow;
    border-radius: 60%;
    /* border-style: outset; */
    /* border: none; */
    border-color: yellow;
    border-width: 4px;
    display: flex;
}
.gen-btn  .inner{
    align-self: center;
    justify-self: center;
    height: calc(100% - 10px);;
    margin: auto;
    width:  calc(100% - 10px);
    border-radius: 60%;

    background-color: red;
    box-shadow: 1px 1px 1px red;
}
.gen-btn  > .outer{
    height: 55px;
    width:  55px;
    background-color: yellow;
    border-radius: 60%;
    /* border-style: outset; */
    /* border: none; */
    border-color: yellow;
    border-width: 4px;
}
.gen-btn.big >.outer{
    height: 110px;
    width:  110px;
    border-width: 2px;
}
.gen-btn.big >p{
    font-size: 15px;
}
.gen-btn.small >.outer{
    height: 23px;
    width:  23px;
    border-width: 2px;
    border-color: rgba(100, 148, 237, 0.601);
    background-color: rgb(100, 149, 237);
}
.gen-btn.small >p{
    font-size: 9px;
}

/* Buttons to move Blocks */
.dir-case{
    --offset:5px;
}
.dir-case .first,.dir-case .third{
    position: relative;
    left:var(--offset);
}
.dir-case .first{
    top: 12px;
}
.dir-case .second{
    display: flex;
    width: calc(100% + var(--offset));
    justify-content: space-between;
}
.dir-case .third{
    bottom: 15px;
}

/* Settings Buttons */
.settings-btns-rotate-btn-case{
    display: flex;
    flex-direction: column;
}
.settings-case{
    display: flex;
    justify-content: space-between;
    /* background-color: lightblue; */
}

/* Rotate Button */
.rotate-btn-case{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 370px) {
    body>#root{background-color: red;}
}